@model IEnumerable<eCommerce.Entities.Categoria> 

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Productos
    </a>
    <ul class="dropdown-menu" aria-labelledby="productosDropdown">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="dropdown-item" href="@Url.Action("Index", "Catalogo", new { area = "Negocio", categoriaId = categoria.IdCategoria })">
                    @categoria.Descripcion
                </a>
            </li>
        }
    </ul>
</li>

